{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div>
        <h1 CLASS="text-info text-center">Paying for {{ product.name }}</h1>
        <form class="product-form" method="post"  action="">
            <p>{{ success }}</p>
            {% csrf_token %}
            <input required readonly class="form-control" value="{{ product.price }}" name="p-price" type="text">
            <input required class="form-control" placeholder="Phone number" name="c-phone" type="text">
            <input required class="btn btn-info" value="Pay" type="submit">
        </form>
    </div>
{% endblock %}